#ajaxDebug {
  width: 100%;
}
div#ajaxTX { height: 3em; }
div#ajaxRX { height: 10em; }

html {
  height: 100%;
}
section {
  min-width: 20em;
  max-width: 40em;
  height: auto;
}
form, div.info, div.ports { 
  width: 100%;
  max-height: 25em;
  overflow: auto;
  margin:0;
}
div.info, div.ports {
  border: 1px solid grey;
  border-radius: 1ex;
}
div.info p, div.ports p {
  padding: 0 0 0 1em;
}
div.ports p span {
  display: inline-block;
  border: 1px solid black;
  padding: 0 1ex;
  margin: 0 1ex;
}
fieldset {
  padding: 0;
  margin: 0;
  min-height: 2em;
  border: 1px solid grey;
  border-radius: 1ex;
}
label { 
  display: inline-block;
  margin: 0;
  padding: 0 0 0 1em;
  width: 10em; 
}
div.slider {
  display: inline-block;
  position: relative;
  top: 0.5ex;
  width: 15em;
  margin: 0 1ex 0 1ex;
}
input.value {
  display: inline-block;
  font-size: 80%;
  width: 5em;
  text-align: right;
  margin-left: 1ex;
}
div.unit {
  display: inline-block;
    width: 4em;
}
