[Unit]
Description=[mn] set CPU frequency range
After=sound.target
Requires=loadcpufreq.service
After=loadcpufreq.service

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/cpufreq.service.d/cpufreq.service.conf
# created by mn_config_update
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cpufreq-set ${OPTIONS}
ExecStop=/usr/bin/cpufreq-set --min 0 --max 0

[Install]
WantedBy=multi-user.target
