[Unit]
Description=[mn] JACK Audio Connection Kit

# "pull in" jackd.target since we're the provider of that target:
Requires=jackd.target
Before=jackd.target

# make sure we have a well defined cpu core frequency:
After=cpufreq.service

# if we're running on actual hardware, make sure we're after:
After=sound.target

# make sure time is monotonic before we start (USB devices can explode when
# system time jumps):
After=time-sync.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/jackd.service.d/jackd.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket"
ExecStart=/usr/bin/jackd $OPTIONS
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
