[Unit]
Description=[mn] mn_autostart-root@%i is deprecated, use mn_shell-{process|command}-root@%i instead!

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/mn_autostart-root@%i.service.d/mn_autostart-root@%i.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=root
ExecStart=/bin/bash -c ${OPTIONS}
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
