[Unit]
Description=[mn] execute shell command at startup [%I]

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/mn_autostart@%i.service.d/mn_autostart@%i.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/bin/bash -c ${OPTIONS}
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
