[Unit]
Description=[mn] periodically log undervoltage and temperature events

[Service]
Type=exec
User=root
ExecStart=/usr/local/bin/mn_core_state --short --temp
