[Unit]
Description=[mn] periodically log temperature and undervoltage events

[Service]
Type=exec
User=root
ExecStart=/usr/local/lib/systemd/scripts/mn_core_state
