[Unit]
Description=[mn] set CPU frequency range with cpupower
After=sound.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/cpufreq.service.d/cpufreq.service.conf
# created by mn_config_update
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cpupower frequency-set $OPTIONS

[Install]
WantedBy=multi-user.target
