[Unit]
Description=[mn] JACK Audio Connection Kit

# make sure we have a well defined cpu core frequency:
After=mn_cpufreq.service

# if we're running on actual hardware, make sure we're after:
After=sound.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/jackd.service.d/jackd.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket"
ExecStart=/usr/bin/jackd $OPTIONS
# block until the jackd socket pops up in /dev/shm, to delay jack client services until
# we're ready. FIXME: This will break if/when we enable multiple jack
# servers.
ExecStartPost=/usr/local/bin/mn_wait_jack_daemon
ExecStop=-/usr/local/bin/mn_disconnect %n
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
