[Unit]
Description=[mn] jackd socket watcher helper

Requires=mn_jackd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

# no [Install] section, this is pulled in by mn_jackd_watch.path !
