[Unit]
Description=[mn] JACK mixer
Requires=mn_jackd.service
After=mn_jackd.service 
After=network-online.target

[Service]
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStartPre=/usr/local/bin/mn_wait_net medianet0
ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/local/bin/jackminimix $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n
ExecStartPost=-/usr/bin/oscsend osc.udp://localhost:3043 /mixer/channel/set_gain if 1 0
ExecStartPost=-/usr/bin/oscsend osc.udp://localhost:3043 /mixer/channel/set_gain if 2 0
ExecStop=-/usr/local/bin/mn_disconnect %n
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
