[Unit]
Description=[mn] FIR Convolution Engine
After=sound.target
After=mn_jackd.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/jconvolver.service.d/jconvolver.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/bin/jconvolver -N "${JACKNAME}" $OPTIONS /etc/medianet/jconvolver.conf
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
