[Unit]
Description = Kodi Media Center
Requires=mn_jackd.target
After=mn_jackd.target
After=remote-fs.target 
Wants = network-online.target
After=network-online.target 

[Service]
LimitRTPRIO=85
LimitMEMLOCK=700000000
User = medianet
Group = medianet
Type = simple
ExecStart = /usr/bin/kodi --standalone $OPTIONS
Restart = always
RestartSec = 5

[Install]
WantedBy = multi-user.target
