[Unit]
Description=[mn] mpv player daemon [%I]
Requires=mn_jackd.service
After=mn_jackd.service

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/mn_mpv@%i.service.d/mn_mpv@%i.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
RuntimeDirectory=mpv
ExecStart=/usr/bin/mpv \
	--ao="jack" \
	--jack-name="mpv-%i" \
	--gapless-audio=yes \
	--idle=yes \
	--quiet=yes \
	--input-ipc-server=/run/mpv/mpv-%i.socket \
	--vo=null \
	--no-audio-display \
	$OPTIONS
# mpv will want to handle its connections itself, it does not keep
# persistent jack ports unfortunately
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
