[Unit]
Description=[mn] mpv player daemon
Requires=mn_jackd.service
After=mn_jackd.service

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/mn_mpv.service.d/mn_mpv.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
# this is a player (source), hence no upstream connections
#ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=sudo -u medianet /usr/bin/mpv --jack-name="${JACKNAME}" --idle=yes --quiet=yes --input-ipc-server=/run/mpv/mpv.socket --vo=null --ao=jack --gapless-audio=yes $OPTIONS
# mpv will want to handle its connections itself, it does not keep
# persistent jack ports unfortunately
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
