[Unit]
Description=[mn] mn_modsave timer
PartOf=mn_mod-host.service
After=mn_mod-host.service

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true

[Install]
WantedBy=multi-user.target
