[Unit]
Description=[mn] LV2 plugin host for JACK
Requires=mn_jackd.service
After=mn_jackd.service
Wants=lighttpd.service
After=lighttpd.service
Wants=mn_modsave.timer
Before=mn_modsave.timer

[Service]
Type=forking
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/local/bin/mod-host $OPTIONS
ExecStartPost=/usr/local/bin/mn_modconf --all
ExecStartPost=-/usr/local/bin/mn_connect %n --timeout 30 --interval 5
RestartSec=5
Restart=on-failure
ExecStop=/usr/local/bin/mn_modsave
ExecStop=-/usr/local/bin/mn_disconnect %n

[Install]
WantedBy=multi-user.target
