[Unit]
Description=[mn] low-latency HD video stream sink
After=network.target network-online.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/mn_autostart.service.d/mn_video_rx.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/local/lib/systemd/scripts/mn_video_rx $OPTIONS
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
