[Unit]
Description=[mn] video rtsp server
Requires=mn_jackd.service
After=mn_jackd.service
After=network-online.target

[Service]
Type=exec
# we read Environment= from a drop-in file
# /etc/systemd/system/v4l2rtspserver.service.d/v4l2rtspserver.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/local/bin/v4l2rtspserver $OPTIONS
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
