[Unit]
Description=[mn] Wifi RTP stream receiver
Requires=mn_jackd.service
After=mn_jackd.service
After=network-online.target

[Service]
Type=exec
# we read Environment= from a drop-in file
# /etc/systemd/system/wifi-rx.service.d/wifi-rx.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
# this is a player (source), hence no upstream connections
#ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/bin/mpv --quiet --ao="jack" --vo=null --jack-name="${JACKNAME}" --jack-connect="no" --profile="low-latency" --audio-buffer=0.1 $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
