[Unit]
Description=[mn] JACK-to-Network bridge
BindsTo=mn_jackd.target
After=mn_jackd.target
BindsTo=network-online.target
After=network-online.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/zita-j2n.service.d/zita-j2n.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/local/bin/zita-j2n --jname "${JACKNAME}" $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
