[Unit]
Description=[mn] resampling Network-to-JACK bridge [%I]
Requires=mn_jackd.service
After=mn_jackd.service
After=network-online.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/zita-n2j@.service.d/zita-n2j@.service.conf
# created by mn_config_update
User=medianet
LimitRTPRIO=85
LimitMEMLOCK=700000000
ExecStartPre=/usr/local/bin/mn_wait_net medianet0
ExecStart=/usr/bin/zita-n2j --jname "${JACKNAME}" $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=5
Restart=always
# zita-n2j will repeat its last buffer on shutdown, which sounds ugly.
# disconnect first, then kill
ExecStop=-/usr/local/bin/mn_disconnect %n

[Install]
WantedBy=multi-user.target
