[Unit]
Description=[mn] resampling ALSA-to-JACK bridge
Requires=mn_jackd.service
After=mn_jackd.service

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/zita-a2j.service.d/zita-a2j.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/local/bin/mn_silencer "Starting synchronisation." /usr/bin/zita-a2j -j "${JACKNAME}" $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n --timeout 30 --interval 5
RestartSec=5
Restart=always
# zita-a2j will repeat its last buffer on shutdown, which sounds ugly.
# disconnect first, then kill
ExecStop=-/usr/local/bin/mn_disconnect %n

[Install]
WantedBy=multi-user.target
