[Unit]
Description=[mn] fourth-order loudspeaker crossover
After=mn_jackd.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/zita-lrx.service.d/zita-lrx.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/local/bin/zita-lrx -N "${JACKNAME}" $OPTIONS /etc/medianet/zita-lrx
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

