[Unit]
Description=[mn] JACK-to-Network bridge
Requires=mn_jackd.service
After=mn_jackd.service
After=network-online.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/zita-j2n.service.d/zita-j2n.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/bin/zita-j2n --jname "${JACKNAME}" $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n --timeout 30 --interval 5
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
