[Unit]
Description=[mn] mpv system service
After=sound.target
After=jackd.target
BindsTo=jackd.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/mpv.service.d/mpv.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
# this is a player (source), hence no upstream connections
#ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/bin/mpv --jack-name="${JACKNAME}" --quiet --vo=null --ao=jack --idle=yes --input-ipc-server=/run/mpv/mpv.socket $OPTIONS
# mpv will want to handle its connections itself, it does not keep
# persistent jack ports unfortunately
#ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
