[Unit]
Description=[mn] handle gpio pin controllers
After=network-online.target
After=sound.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/gpioctl.service.d/gpioctl.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/local/bin/gpioctl $OPTIONS
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
