[Unit]
Description=gpioctl controllers

After=sound.target

[Service]
EnvironmentFile=-/medianet/config/this/medianet.conf
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/local/bin/gpioctl $GPIOCTL_OPTIONS
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
