[Unit]
Description=[mn] save mod-host settings
BindsTo=mod-host.service
Requires=lighttpd.service
After=mod-host.service
After=lighttpd.service

[Service]
Type=exec
User=medianet
ExecStart=/usr/local/bin/mn_modsave

[Install]
WantedBy=multi-user.target
