[Unit]
Description=mod-host LV2 plugin host for JACK
BindsTo=jackd.target
After=jackd.target 
Wants=lighttpd.service
After=lighttpd.service

[Service]
EnvironmentFile=-/medianet/config/this/medianet.conf
Type=forking
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStartPre=/usr/local/bin/mn_jackwait $MOD_HOST_WAITPORT
ExecStart=/usr/local/bin/mod-host $MOD_HOST_OPTIONS
ExecStartPost=/usr/local/bin/mn_modconf --all
RestartSec=5
Restart=on-failure
ExecStop=/usr/local/bin/mn_modsave

[Install]
WantedBy=multi-user.target

