[Unit]
Description=[mn] LV2 plugin host for JACK
BindsTo=jackd.target
After=jackd.target 
Wants=lighttpd.service
After=lighttpd.service

[Service]
Type=forking
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/local/bin/mod-host $OPTIONS
ExecStartPost=/usr/local/bin/mn_modconf --all
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=5
Restart=on-failure
ExecStop=/usr/local/bin/mn_modsave

[Install]
WantedBy=multi-user.target
