[Unit]
Description=[mn] mpv system service
After=sound.target
After=jackd.target
BindsTo=jackd.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/shairport-sync.service.d/shairport-sync.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
#ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/bin/mpv --ao=jack --idle=yes --input-ipc-server=/run/mpv/mpv.socket $OPTIONS
#ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
