[Unit]
Description=Check whether ntp has successfully synchronized the system time
Requires=ntp-synced.target
Before=ntp-sync.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ntp-wait

[Install]
WantedBy=multi-user.target
