[Unit]
Description=[mn] resampling Network-to-JACK bridge
BindsTo=jackd.target
After=jackd.target
Requires=network-online.target
After=network-online.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/zita-n2j.service.d/zita-n2j.service.conf
# created by mn_config_update
User=medianet
LimitRTPRIO=85
LimitMEMLOCK=700000000
ExecStartPre=/usr/local/bin/mn_wait_net medianet0
ExecStartPre=/usr/local/bin/mn_wait_for_upstream %n
ExecStart=/usr/local/bin/zita-n2j $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
