[Unit]
Description=zita LRX fourth-order crossover
BindsTo=jackd.target
After=jackd.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/zita-lrx.service.d/zita-lrx.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/local/bin/zita-lrx $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

