[Unit]
Description=zita ALSA-to-JACK bridge
BindsTo=jackd.target
After=jackd.target
BindsTo=sound.target
After=sound.target

[Service]
EnvironmentFile=-/medianet/config/this/medianet.conf
User=medianet
LimitRTPRIO=85
LimitMEMLOCK=700000000
ExecStartPre=/usr/local/bin/mn_jackwait $ZITA_A2J_WAITPORT
ExecStart=/usr/bin/zita-a2j $ZITA_A2J_OPTIONS
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

