[Unit]
Description=zita Network-to-JACK bridge
After=jackd.target
After=network-online.target
Requires=jackd.target

[Service]
EnvironmentFile=-/medianet/config/this/medianet.conf
User=medianet
LimitRTPRIO=85
LimitMEMLOCK=700000000
ExecStartPre=/usr/local/bin/mn_jackwait $ZITA_N2J_WAITPORT
ExecStart=/usr/local/bin/zita-n2j $ZITA_N2J_OPTIONS
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

