[Unit]
Description=zita ALSA-to-JACK bridge
BindsTo=jackd.target
After=jackd.target
BindsTo=sound.target
After=sound.target

[Service]
# we read Environment= from a drop-in file
# /etc/systemd/system/zita-a2j.service.d/zita-a2j.service.conf
# created by mn_config_update
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStart=/usr/bin/zita-a2j $OPTIONS
ExecStartPost=-/usr/local/bin/mn_connect %n
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
