[Unit]
Description=zita LRX fourth-order crossover
BindsTo=jackd.target
After=jackd.target

[Service]
EnvironmentFile=-/medianet/config/this/medianet.conf
User=medianet
LimitRTPRIO=85
LimitMEMLOCK=700000000
ExecStartPre=/usr/local/bin/mn_jackwait
ExecStart=/usr/local/bin/zita-lrx $ZITA_LRX_OPTIONS
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

