[Unit]
Description=JACK Audio Connection Kit
After=sound.target
Before=jackd.target
After=ntp.service
After=time-sync.target
Wants=cpufreq.service

[Service]
EnvironmentFile=-/medianet/config/this/medianet.conf
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket"
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/jackd $JACK_OPTIONS
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
