[Unit]
Description=mod-host LV2 plugin host for JACK
After=jackd.target zita-njbridge.service lighttpd.service
Requires=jackd.target
Wants=zita-njbridge.service lighttpd.service

[Service]
EnvironmentFile=-/medianet/medianet.conf
Type=forking
LimitRTPRIO=85
LimitMEMLOCK=700000000
User=medianet
ExecStartPre=/usr/local/bin/mn_jackwait zita-n2j:out_2
ExecStart=/usr/local/bin/mod-host
ExecStartPost=/usr/local/bin/mn_modconf --all
RestartSec=5
Restart=on-failure
ExecStop=/usr/local/bin/mn_modsave
ExecStop=/usr/local/bin/mn_fade down
[Install]
WantedBy=multi-user.target
