[Unit]
Description=zita Network-to-JACK bridge
After=jackd.target
After=network-online.target
Requires=jackd.target

[Service]
EnvironmentFile=-/medianet/medianet.conf
User=medianet
LimitRTPRIO=85
LimitMEMLOCK=700000000
ExecStartPre=/usr/local/bin/mn_jackwait
ExecStart=/usr/local/bin/zita-n2j $ZITANJ_OPTIONS
ExecStartPost=/usr/local/bin/mn_fade up
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
